@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|PT+Serif:700');

html,body{
	min-height:100%;
}



body{

	background:	linear-gradient(#E5BA58,#EFE8E0);
	background-attachment: fixed;
}
h1 {font-family: 'PT Serif', serif;
 font-weight: 700;
  padding-top: 2.5rem;
	color:#212633  ;

}

h2 {font-family: 'PT Serif', serif;
 font-weight: 700;
  padding-top: 3.5rem;
color:#47484B  ;

}

h5 {font-family: 'Open Sans', sans-serif;
font-weight: 700;
	color:rgba(237, 234, 217, 1);
}

p {font-family: 'Open Sans', sans-serif;
font-weight: 300;
padding-top: 0.5rem;}

img {
	border:5px solid #EFE8E0;

}

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-color{
	background: rgba( 196, 138, 120 , 1);

}
